# Copyright (c) 2023, NVIDIA CORPORATION.  All rights reserved.
#
# NVIDIA CORPORATION and its licensors retain all intellectual property
# and proprietary rights in and to this software, related documentation
# and any modifications thereto.  Any use, reproduction, disclosure or
# distribution of this software and related documentation without an express
# license agreement from NVIDIA CORPORATION is strictly prohibited.


# Help text
# FRP-ADD/UPDATE
#		<ID> <Match> <Type> <Filter Mode> <Offset> <OKI> <DMASel>
#		Id - FRP table ID to add (0 to 255)
#		Match - Match data is used for comparing MAX 12 bytes data
#		Type - Match data type
#			0 - Normal data
#			1 - L2 DA MAC
#			2 - L2 SA MAC
#			3 - L3 Source IP
#			4 - L3 Destination IP
#			5 - L4 UDP Source Port
#			6 - L4 UDP Destination Port
#			7 - L4 TCP Source Port
#			8 - L4 TCP Destination Port
#			9 - VLAN Tag
#		Mode - Filter mode for the entry
#			0 - Accept and route
#			1 - Reject and Drop
#			2 - Accept and Bypass FRP Route
#			3 - Link to OKI Index
#			4 - Inverse the Match, Accept and route
#			5 - Inverse the Match, Reject and Drop
#			6 - Inverse the Match, Accept and Bypass FRP Route
#			7 - Inverse the Match, Link to OKI Index
#		Offset -  Frame offset of Match data
#		OKI -  When NIC set give the value for Next Instruction
#		DMASel - Bit selection of DMA channels to route the frame
#		Bit[0] - DMA channel 1
#		...
#		Bit [N] - DMA channel N]
#		Note: The Multiple DMA channel selection only works
#		for MC/BC packets and Highest RXQ need to be enabled on the DT
#
# FRP_DEL
#		Id - FRP table ID to add (0 to 255)
#
##

#MAC	FRP_CMD	IDX	MATCH_DATA	TYPE	MODE	OFFSET	OKI	DMASel(bitmap value i.e for CH0 value is 0x1)
#
#Add frp rule to filter & replicate pkt received to DMA Channel0 & 1, if L2 DA MAC is Broadcast addr,
eqos_0 frp_add 0 ffffffffffff 1 0 0 0 0x3
#Add frp rule to filter & fwd pkt received to DMA Channel 1, if L2 DA MAC is unicast addr (a0:36:9f:3f:6b:a4)
eqos_0 frp_add 1 a0369f3f6ba4 1 0 0 0 0x2

#example for frp_update rule 1 to route packets which match the condition to DMA Channel 0
#eqos_0 frp_add 1 a0369f3f6ba4 1 0 0 0 0x1

#example for frp_del
#eqos_0 frp_del 1
